# macOS
.DS_Store

# frontend
frontend/node_modules/
frontend/dist/

# python
**/__pycache__/
**/.pytest_cache/
**/.mypy_cache/
**/.ruff_cache/
*.pyc
.venv/
venv/

# env files
.env
.env.local
.env.*.local
